[Unit]
Description=Web File Browser
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/filebrowser -d /var/lib/filebrowser/filebrowser.db

[Install]
WantedBy=multi-user.target
