body {
    margin: 0;
    background-color: black;
}

#throb {
	text-align: center;
}

.status {
	text-align: center;
	color: #c0ffc0;
	font-family: monospace;
	font-size: calc(1.5 * (1.1vh + 1.5vw));
}

#outerbox {
	display: block;
	background-color: black;
	width: 100%;
	height: 100%;
	background-image: url("love.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#laptop {
	position: fixed;
}

#laptop_box {
	display: block;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 1;
}

#term_box {
	display: block;
	position: fixed;
	z-index: 2;
}

#message {
	display: block;
	position: absolute;
	width: 100%;
	padding: 25px;
	color: #ffc0c8;
	font-family: monospace;
	font-size: calc(1.5 * (1.1vh + 1.1vw));
}

#content {
	background: black;
	background-color: black;
  	background-image: radial-gradient(
	    rgba(100, 70, 70, 0.75), black 120%
	);
}

#fuzzer {
	background-image: url("scanline.png");
	background-size: 3px;
}

#player {
	position: fixed;
	right: 0px;
	top: 0px;
}

#cover_box {
	text-align: center;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 3;
}

p {
	margin-block-start: 0;
	margin-block-end: 0;
	padding: 0px;
}

form {
	margin: 0px;
	padding: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#landing {
	position: fixed;
	display: block;
	margin-left: auto;
	margin-right: auto;
	bottom: 0px;
}

input {
	background: transparent;
	border: thin solid #c0ffc0;
	color: #c0ffc0;
	font-family: monospace;
	font-size: calc(1.5 * (1.1vh + 1.5vw));
}

button {
	background: transparent;
	border: thin solid #c0ffc0;
	border-radius: 10px;
	color: #c0ffc0;
	font-family: monospace;
	font-size: calc(1.5 * (1.1vh + 1.5vw));
}

.error {
	color: #c04040;
}
