#
# {{ ansible_warning }}
#
# This file is the configuration for the DHCP and DNS server we use on
# the LAN and WiFi AP networks.
#

# Here to make sure that we don't accidentally redirect lab to localhost
no-hosts
domain=riverbots.org
# 10.68.1.x is the hardwired lan port
dhcp-range=10.68.1.100,10.68.1.200,12h
# 10.68.2.x is the wifi AP we host
dhcp-range=10.68.2.100,10.68.2.200,12h
