#
# {{ ansible_warning }}
#
# This configuration file sets up the WiFi parameters for the AP part of the
# lab server.
#

interface=wifi-ap
driver=nl80211
country_code=US
ssid=6845_Lab
wpa=2
wpa_passphrase={{ riverbots_password }}
wpa_key_mgmt=WPA-PSK
wpa_pairwise=TKIP
rsn_pairwise=CCMP
auth_algs=1
macaddr_acl=0

hw_mode=g
ieee80211n=1
ht_capab=[SHORT-GI-40][HT40+][HT40-][DSSS_CCK-40]
wme_enabled=1
channel=7
