#
# {{ ansible_warning }}
#
# This configuration file sets up all the IP addresses and NAT and forwarding
# translations.  Basically it sets up the core of the network at layer 3 (i.e.
# IP addresses and internet-related stuff).
#

# Configuration for the loopback interface (internal on 127.0.0.1)
auto lo
iface lo inet loopback

# Configuration for the WAN interface, which is Internet-facing
auto wan
iface wan inet dhcp

# {{ interface_map.stdout_lines }}

{% if "has_lan" in interface_map.stdout_lines %}
# Configuration for the LAN interface, which is NOT Internet-facing
auto lan
iface lan inet static
	address 10.68.1.1
	netmask 255.255.255.0
	up sysctl -w net.ipv4.ip_forward=1
	up iptables -t nat -F POSTROUTING
	up iptables -t nat -A POSTROUTING -o wan -j MASQUERADE
{% endif %}

{% if "has_wifi_ap" in interface_map.stdout_lines %}
auto wifi-ap
iface wifi-ap inet static
	address 10.68.2.1
	netmask 255.255.255.0
	up /usr/local/bin/nft-rules
{% endif %}

{% if "has_wifi_bot" in interface_map.stdout_lines %}
auto wifi-bot
iface wifi-bot inet static
	address 10.68.45.3
	netmask 255.255.255.0
	up ip link set wifi_bot up
	up iw dev wifi_bot connect 6845_Lovekesh
	up iptables -t nat -A POSTROUTING -o wifi_bot -j MASQUERADE
{% endif %}
